<h2>Editing <%= display_for_record(@page) %> <span></span></h2>

<form name="form" class="well">
<% [@page.keys, 'title'].flatten.uniq.reject{|k| %w[_id body position versions].include? k }.each do |key| %>
  <label><%= key %></label>
  <input name="<%= key %>" size="40" value="<%= @page[key] %>" />
<% end %>
</form>

<pre id="editor"><%= h @page['body'] %></pre>

<script src="/admin/javascripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/admin/javascripts/ace/theme-clouds.js" type="text/javascript" charset="utf-8"></script>
<script src="/admin/javascripts/ace/mode-html.js" type="text/javascript" charset="utf-8"></script>
<script>
  function savePage(editor){
    value = editor.getSession().getValue()

    $("h2 span").text("(Saving...)").show()

    $.ajax({
      url: "/admin/<%= params[:collection] %>/<%= @page['_id'] %>",
      type: "PUT",
      data: $.extend($("form").serializeObject(), { "body": value }),
      success: function(data) {
        $("h2 span").text("(Saved)").delay(1500).fadeOut(250)
        // TODO: Some kind of indication the page saved.
      },
      error: function(jqXHR, textStatus, errorThrown){
        alert('Error saving' + errorThrown)
      }
    });
  }

  window.onload = function(){
    var editor = ace.edit("editor");
    editor.getSession().setTabSize(2);
    editor.getSession().setUseSoftTabs(true);

    editor.setTheme("ace/theme/clouds");

    var HTMLMode = require("ace/mode/html").Mode;
    editor.getSession().setMode(new HTMLMode());

    var canon = require("pilot/canon");
    canon.addCommand({
      name: 'myCommand',
      bindKey: {
        win: 'Ctrl-S',
        mac: 'Command-S',
        sender: 'editor'
      },
      exec: function(env, args, request) {
        savePage(env.editor)
      }
    });
  };
</script>
